body {
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
}

body.light {
    background-color: white;
    color: black;
}

#pi-challenge-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black; /* default color */
    background-image: url("images/Pi dimension.png");
    background-size: 100% 100%;
    background-position: center top;
    z-index: -1; /* behind all content */
    display: none;
}

#pi-challenge-bg.show {
    display: block;
}

#app {
    width: 100%;
    height: 100%;
}

.Alert {
    width: 350px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -80px;
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
}

#alert-txt {
    position: absolute;
    top: 10;
}

#alert-desc {
    position: absolute;
    top: 35;
}

#alert-ok-button {
    position: absolute;
    right: 10;
    bottom: 10;
}

details {
    width: 100%;
}

#Linear-essence-gid,
#Linear-chals-gid,
#Polytopes-gid,
#Tangent-gid,
#Constant-gid,
#Constant-challenge-gid,
#Coordinates-gid {
    display: none;
}

#Linear-essence-gid.unlocked,
#Linear-chals-gid.unlocked,
#Polytopes-gid.unlocked,
#Tangent-gid.unlocked,
#Constant-gid.unlocked,
#Constant-challenge-gid.unlocked,
#Coordinates-gid.unlocked {
    display: block;
}

.Building-cost {
    background-color: rgba(227, 0, 0, 0.855);
    border: 2px solid maroon
}

.Building-cost:hover {
    background-color: rgba(185, 1, 1, 0.838);
}

.Building-buy {
    background-color: rgb(1, 218, 27);
    border: 2px solid rgb(0, 91, 11);
}

.Building-buy:hover {
    background-color: rgba(0, 189, 0, 0.9);
}

#Bld-1.hide {
    visibility: hidden;
}

#sub-tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#tabs {
    display: flex;
    width: 150px;
    position: absolute;
    flex-wrap: wrap;
    left: 0;
    top: 0;
}

#contenttabs {
    display: flex;
    width: 150px;
    position: absolute;
    flex-wrap: wrap;
    right: 0;
    top: 0;
}

#tab {
    width: 150px;
    height: 50px;
    background-color: rgba(43, 43, 43, 0.801);
    color: rgb(135, 135, 135);
    border: 1px solid rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-tab,
#Linear-upg-tab {
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: rgba(14, 203, 58, 0.801);
    border: 2px solid rgb(56, 116, 56);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Linear-upg-tab.hide {
    display: none;
}

#maintab {
    width: 150px;
    height: 50px;
    background-color: rgba(43, 43, 43, 0.801);
    color: rgb(135, 135, 135);
    border: 1px solid rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

#maintab.hide {
    display: none;
}

#coordinatetab {
    display: none;
}

#coordinatetab.show {
    width: 150px;
    height: 50px;
    background-color: rgba(43, 43, 43, 0.801);
    color: rgb(135, 135, 135);
    border: 1px solid rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

#upgradetab {
    width: 150px;
    height: 50px;
    background-color: rgba(43, 43, 43, 0.801);
    color: rgb(135, 135, 135);
    border: 1px solid rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

#upgradetab.hide {
    display: none;
}

#triptab {
    display: none;
}

#triptab.show {
    width: 150px;
    height: 50px;
    background-color: rgba(43, 43, 43, 0.801);
    color: rgb(135, 135, 135);
    border: 1px solid rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

#upgradetab.available,
#layertab.available {
    border: 1px solid rgb(143, 26, 26);
}

#upgrade-available {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 47;
    left: -3;
    background-color: rgb(22, 185, 22);
    display: none;
}

#upgrade-available.show {
    display: block;
}

#layertab,
#constanttab {
    display: none;
}

#layertab.unlocked {
    display: block;
    width: 150px;
    height: 50px;
    background-color: rgba(9, 101, 30, 0.801);
    border: 2px solid green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lupgrade-available {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 97;
    left: -3;
    background-color: rgb(206, 35, 12);
    display: none;
}

#lupgrade-available.show {
    display: block;
}

#constanttab.unlocked {
    display: block;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 140, 255);
    border: 2px solid aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

#constanttab:hover {
    background-color: rgb(0, 126, 199);
    cursor: pointer;
}

#constanttab.hide {
    display: none;
}

#Header {
    width: 1000px;
    top: 5;
    left: 50%;
    margin-left: -500px;
    height: 120px;
    padding: 15px;
    position: relative;
}

#Points {
    position: absolute;
    top: 5;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    z-index: 1000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Points.intrip {
    position: absolute;
    top: 5;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    z-index: 1000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#PointsPerSec {
    position: absolute;
    top: 50;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    z-index: 1000;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-gain {
    position: absolute;
    top: 75;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    border-radius: 0;
    background-color: black;
    border: 2px solid rgb(26, 26, 26);
    z-index: 1000;
}

#btn-gain:hover {
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(49, 49, 49);
}

.content {
    display: none;
}

.content.active {
    display: block;
    position: absolute;
    left: 150;
    right: 150;
} 

.sub-content {
    display: none;
    position: relative;
}

.sub-content.active {
    display: block;
    position: relative;
    width: 100%;
}

#s-text,
#v-text {
    font-weight: bold;
}

#Themes {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    background-color: rgba(152, 152, 152, 0.858);
}

.Themes {
    display: none;
}

.Themes.active {
    display: block;
}

#close-theme {
    position: absolute;
    top: 0;
    right: 0;
}

#ms-t {
    font-weight: bolder;
    font-size: 18px;
}

#ls-t {
    font-weight: bolder;
    font-size: 18px;
    color: rgb(8, 224, 84);
}

#Linear-statistics {
    display: none;
}

#Linear-statistics.unlocked {
    display: block;
}

#Equation {
    display: none;
}

#Equation.unlocked {
    display: block;
}

#Equation2 {
    display: none;
}

#Equation2.unlocked {
    display: block;
}

#mult-cost,
#mult-cost1,
#mult-cost2,
#mult-cost3 {
    width: 200px;
    height: 50px;
    font-size: 13px;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(77, 77, 77);
}

#mult-cost:hover,
#mult-cost1:hover,
#mult-cost2:hover,
#mult-cost3:hover {
    background-color: rgb(59, 59, 59);
    border: 2px solid rgb(20, 20, 20);
}

#solved-equation {
    color: rgb(87, 87, 87);
    font-size: 14px;
    margin-top: -10px;
}

#up-t {
    font-size: 25px;
    font-weight: bolder;
    color: rgb(12, 187, 59); 
    margin-bottom: 15px;  
    text-shadow: 0 0 5px #04821f5b, 0 0 10px #05881d7c, 0 0 15px #068f2ca0, 0 0 20px #07993ade, 0 0 20px #00922e, 0 0 30px #08622a, 0 0 40px #06641d;
}

#note {
    color: rgb(187, 103, 103);
}

.Up-cost {
    width: 300px;
    height: 130px;
    background-color: rgba(128, 13, 13, 0.855);
    border: 2px solid rgb(129, 35, 35);
    font-size: 13px;
    color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 10px;
}

#up-name {
    position: absolute;
    top: 5;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom: 1q solid white;
}

#upg-cost1,
#upg-cost2,
#upg-cost3,
#upg-cost4,
#upg-cost5,
#upg-cost6,
#upg-cost7,
#upg-cost8,
#upg-cost9,
#upg-cost10,
#upg-cost11,
#upg-cost12,
#lupg-cost1,
#lupg-cost2,
#lupg-cost3,
#lupg-cost4,
#lupg-cost5,
#lupg-cost6,
#lupg-cost7,
#lupg-cost8,
#lupg-cost9,
#lupg-cost10,
#lupg-cost11,
#lupg-cost12,
#CUp-cost {
    position: absolute;
    bottom: 0;
    left: 2;
}

#up-desc,
#lup-desc {
    margin-top: 15px;
}

.Up-cost:hover {
    background-color: rgba(148, 14, 14, 0.855);
}

.Up-bought {
    width: 300px;
    height: 130px;
    background-color: rgb(6, 61, 78);
    border: 2px solid rgb(30, 135, 135);
    font-size: 13px;
    position: relative;
}

.Up-bought:hover {
    background-color: rgba(5, 86, 85, 0.9);
}

.Up-buy {
    width: 300px;
    height: 130px;
    background-color: rgb(1, 143, 112);
    border: 2px solid rgb(2, 196, 99);
    font-size: 13px;
    position: relative;
}

.Up-buy:hover {
    background-color: rgba(0, 189, 0, 0.9);
}

#row1 {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#row2 {
    display: none;
}

#row2.show {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#row3,
#row4 {
    display: none;
    position: relative;
}

#row3.show,
#row4.show {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 25px;
}

#intersection-ups-name {
    position: absolute;
    margin-top: 5px;
    top: -30;
    font-size: 17px;
    text-shadow: 0 0 5px rgb(211, 0, 0), 0 0 5px maroon, 0 0 3px rgb(136, 0, 0);
}

.Achv {
    width: 150px;
    height: 150px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(227, 0, 0, 0.855);
    color: black;
    border: 2px solid black;
    padding: 2px;
}

.Achv.completed {
    background-color: rgb(1, 218, 27);
}

#achv-row2,
#achv-row3,
#achv-row4,
#achv-row5,
#achv-row6,
#achv-row7 {
    display: none;
}

#achv-row1,
#achv-row2.unlocked,
#achv-row3.unlocked,
#achv-row4.unlocked,
#achv-row5.unlocked,
#achv-row6.unlocked,
#achv-row7.unlocked {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

#softcap-tab {
    width: 100px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: rgb(59, 59, 59);
}

#softcap-tab:hover {
    cursor: pointer;
    background-color: rgb(43, 43, 43);
}

#softcap-tab.show {
    display: flex;
}

#LE-s,
#Ps {
    display: none;
}

#LE-s.show,
#Ps.show {
    display: block;
}

#Save-notification {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#Save-notification.save {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Building1,
#Building2,
#Building3 {
    display: block;
    width: 300px;
    height: auto;
    padding-bottom: 5px;
    font-size: 17px;
    background-color: rgba(68, 5, 5, 0.967);
    position: relative;
}

#Building1.hide,
#Building2.hide,
#Building3.hide {
    display: none;
}

#Building4 {
    display: none;
}

#Building4.show {
    display: block;
    width: 300px;
    height: auto;
    padding-bottom: 5px;
    font-size: 17px;
    background-color: rgba(68, 5, 5, 0.967);
    position: relative;
}

#ResetForLE,
#ConstantReset {
    display: none;
}

#ResetForLE.unlocked {
    position: absolute;
    width: 250px;
    top: 30;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 224, 84);
    border: 3px solid rgb(4, 143, 25);
}

#ResetForLE:hover {
    background-color: rgb(8, 195, 73);
}

#ConstantReset.unlocked {
    position: absolute;
    width: 250px;
    top: 30;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 140, 255);
    border: 3px solid rgb(6, 69, 141);
}

#ConstantResetBtn {
    font-size: 13px;
}

#LFs {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

#LEGF,
#LPB {
    width: 300px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 12, 0, 0.596);
    border: 2px solid rgba(0, 31, 0, 0.74);
}

#LCA {
    width: 300px;
    height: 130px;
    padding-top: 19px;
    background-color: rgba(0, 12, 0, 0.596);
    border: 2px solid rgba(0, 31, 0, 0.74);
}

#LT {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 5px;
    background-color: rgba(0, 12, 0, 0.596);
    border: 2px solid rgba(0, 31, 0, 0.74);
}

#LEF {
    display: none;
}

#LEF.show {
    display: block;
    width: 330px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 7, 39, 0.596);
    border: 2px solid rgba(0, 37, 54, 0.74);
}

#Linear-essence-gain-formula {
    display: none;
}

#Linear-essence-gain-formula.show {
    display: block;
}

.Lup-cost {
    width: 250px;
    height: 140px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(128, 13, 13, 0.855);
    position: relative;
}

.Lup-cost:hover {
    background-color: rgba(148, 14, 14, 0.855);
}

#lup-name {
    position: absolute;
    top: 5;
    left: 50%;
    width: 230px;
    margin-left: -115px;
    color: black;
    border-bottom: 1q solid white;
    font-size: 16px;
    font-weight: bold;
}

.Lup-bought {
    width: 250px;
    height: 140px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(4, 46, 59);
    border: 2px solid rgb(5, 121, 121);
    position: relative;
}

.Lup-bought:hover {
    background-color: rgba(5, 86, 85, 0.9);
    border: 2px solid rgb(4, 105, 105);
}

.Lup-buy {
    width: 250px;
    height: 140px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(6, 155, 23);
    border: 2px solid rgb(59, 170, 59);
    position: relative;
}

.Lup-buy:hover {
    background-color: rgba(7, 126, 7, 0.9);
}

#Lrow1 {
    display: flex;
    justify-content: center;
}

#Lrow2 {
    display: none
}

#Lrow2.unlocked {
    display: flex;
    justify-content: center;
}

#Lrow3 {
    display: none;
}

#Lrow3.unlocked {
    display: flex;
    justify-content: center;
}

#NBuyer,
#KBuyer {
    display: none;
}

#NBuyer.unlocked,
#KBuyer.unlocked {
    display: block;
}

.LEequation-cost {
    width: 150px;
    height: 150px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    background-color: rgba(227, 0, 0, 0.855);
}

.LEequation-cost:hover {
    width: 150px;
    height: 150px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    background-color: rgba(185, 1, 1, 0.838);
}

.LEequation-bought {
    width: 150px;
    height: 150px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    background-color: rgb(1, 167, 218);
}

.LEequation-bought:hover {
    width: 150px;
    height: 150px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    background-color: rgba(0, 142, 140, 0.9);
}

.LinearChallenges {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}

#Chals-tab {
    display: none;
}

#Chals-tab.unlocked {
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: rgba(14, 203, 58, 0.801);
    border: 2px solid rgb(56, 116, 56);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Chal-grid {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px
}

.Challenge {
    width: 300px;
    height: 160px;
    font-size: 13px;
    font-weight: bolder;
    background-color: rgba(227, 0, 0, 0.855);
    position: relative;
}

#Chal-name {
    position: absolute;
    top: 5;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border-bottom: 1q solid white;
    font-size: 15px;
}

#Chal-goal {
    position: absolute;
    bottom: 0;
    right: 5;
    font-size: 11px;
}

#Chal-desc {
    margin-top: 15px;
}

#Chal-reward1,
#Chal-reward2,
#Chal-reward3,
#Chal-reward5 {
    position: absolute;
    left: 5;
    bottom: 0;
    font-size: 11px;
}

.Challenge:hover {
    background-color: rgba(185, 1, 1, 0.838);
}

.Challenge-running {
    width: 300px;
    height: 160px;
    font-size: 13px;
    font-weight: bolder;
    background-color: rgb(214, 169, 4);
    position: relative;
}

.Challenge-running:hover {
    background-color: rgb(175, 138, 4);
}

.Challenge.beatable {
    background-color: rgb(30, 135, 135);
}

.Challenge.beatable:hover {
    background-color: rgba(0, 142, 140, 0.9);
}

.Challenge-completed {
    width: 300px;
    height: 160px;
    font-size: 13px;
    font-weight: bolder;
    background-color: rgb(1, 218, 27);
}

.Challenge-completed:hover {
    background-color: rgba(0, 189, 0, 0.9);
}

#Challenge5,
#Challenge6 {
    display: none;
}

#Challenge5.show,
#Challenge6.show {
    display: block;
}

#Guide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Guide-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Building-automation {
    display: none;
}

.Building-automation.unlocked {
    display: block;
}

#Polygons-tab {
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: rgba(14, 203, 58, 0.801);
    border: 2px solid rgb(56, 116, 56);
    color: white;
    justify-content: center;
    align-items: center;
    display: none;
}

#Polygons-tab.show {
    display: flex;
}

#polygoncanvas {
    visibility: hidden;
}

#polygoncanvas.show {
    visibility: visible;
}

#polygon-info {
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -250px; 
    margin-top: 150px;
}

#polygon-info.hide {
    visibility: hidden;
}

#Polygon-amount {
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -135px; 
    margin-top: 445px;
    visibility: hidden;
}

#Polygon-amount.show {
    visibility: visible;
}

#Dimensions {
    width: 380px;
    position: absolute;
    right: 0;
    margin-right: 160px;
    top: 10;
    visibility: hidden;
}

#Dimensions.show {
    visibility: visible;
}

#Polygon-boosts {
    width: 390px;
    position: absolute;
    right: 0;
    margin-right: 160px;
    top: 200;
    visibility: hidden;
}

#Polygon-dimension {
    width: 260px;
    text-align: center;
    font-size: 18px;
}

#Polygon-boosts.show {
    visibility: visible;
}

#Polytope-boosts,
#Polytop-boost1,
#Polytop-boost2,
#Polytop-boost3 {
    display: none;
}

#Polytope-boosts.show,
#Polytop-boost1.show,
#Polytop-boost2.show,
#Polytop-boost3.show {
    display: block;
}

#Buyables {
    position: absolute;
    left: 0;
    margin-left: 200px;
    margin-top: 10px;
    display: none;
}

#Buyables.show {
    display: block;
}

.buyable {
    width: 260px;
    height: 170px;
    padding: 5px;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(125, 125, 125, 0.855);
}

.buyable.available {
    background-color: rgb(61, 65, 117);
}

#Height,
#W-axis,
#V-axis {
    display: none;
}

#Height.show,
#W-axis.show,
#V-axis.show {
    display: block;
}

#Tangent-tab {
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: rgba(14, 203, 58, 0.801);
    border: 2px solid rgb(56, 116, 56);
    color: white;
    justify-content: center;
    align-items: center;
    display: none;
}

#Tangent-tab.show {
    display: flex;
}

#Power-of-pi {
    width: 300px;
    position: absolute;
    top: 10;
    left: 0;
    margin-left: 200px;
    text-align: center;
}

#Pi-power-boost,
#pip-boost {
    display: none;
}

#Pi-power-boost.show,
#pip-boost.show {
    display: block;
}

.pi-milestones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.pi-milestone1,
.pi-milestone2 {
    width: 200px;
    height: 80px;
    font-size: 12px;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg, rgb(73, 73, 73), rgb(26, 26, 26));
    margin-bottom: 5px;
}

.pi-milestone-gotten {
    width: 200px;
    height: 80px;
    font-size: 12px;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgb(33, 56, 33)), rgb(26, 26, 26);
    margin-bottom: 5px;
}

#pic-name {
    font-size: 15px;
    font-weight: bold;
}

.pi-challenge {
    width: 300px;
    height: 120px;
    font-size: 13px;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg, rgb(131, 131, 131), rgb(78, 110, 100));
    border: 2px solid rgb(59, 8, 8);
    box-shadow: 0 0 5px rgb(126, 3, 3);
    margin-top: 10px;
}

.pi-challenge:hover {
    background-image: linear-gradient(90deg, rgb(94, 94, 94), rgb(68, 114, 99));
    cursor: pointer;
    box-shadow: 0 0 5px rgb(170, 5, 5);
}

#Tangent {
    width: 500px;
    position: absolute;
    top: 10;
    left: 50%;
    margin-left: -250px;
    text-align: center;
}

#Equation-of-Tangent {
    width: 300px;
    position: absolute;
    top: 10;
    right: 0;
    margin-right: 200px;
    text-align: center;
}

#Tangent-upgrades {
    width: 500px;
    margin-top: 5px;
}

#Tus {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.Tup {
    width: 250px;
    height: 100px;
    background-color: rgb(2, 27, 34);
    border: 2px solid rgb(28, 92, 92);
    font-size: 13px;
    padding: 5px;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.Tup:hover {
    background-color: rgb(8, 42, 58);
    border: 2px solid rgb(51, 114, 114);
    cursor: pointer;
}

.Tup.bought {
    width: 250px;
    height: 100px;
    background-color: rgb(10, 107, 62);
    border: 2px solid rgb(10, 88, 36);
    font-size: 13px;
    padding: 5px;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#Circle-arcs {
    width: 500px;
    text-align: center;
    display: none;
}

#Circle-arcs.show {
    display: block;
}

#Circle-arcs-formula,
#Circle-arcs-tf {
    display: none;
}

#Circle-arcs-formula.show,
#Circle-arcs-tf.show {
    display: block;
}

#CA {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#alpha-buyer,
#radius-buyer {
    width: 220px;
    height: auto;
    font-size: 14px;
    margin: 3px;
    background-color: rgb(7, 78, 5);
    border: 2px solid rgb(29, 117, 29);
}

#alpha-buyer:hover,
#radius-buyer:hover {
    background-color: rgb(11, 110, 8);
    border: 2px solid rgb(53, 151, 53);
}

#EoT-c-btn,
#EoT-x-btn {
    width: 200px;
    height: 40px;
    font-size: 14px;
    background-color: rgb(87, 4, 87);
    border: 2px solid rgb(138, 14, 138);
} 

#EoT-x-buyer {
    display: none;
}

#EoT-x-buyer.show {
    display: block;
}

#EoT-c-btn:hover,
#EoT-x-btn:hover {
    background-color: rgb(71, 3, 71);
    border: 2px solid rgb(104, 31, 104);
}

#EoT-boost {
    font-size: 13px;
}

#Non-pi-dimension-main,
#pi-dimension-main.show,
#pi-dimension-upgrades.show {
    display: block;
}

#Non-pi-dimension-main.hide,
#Non-pi-dimension-upgrades.hide,
#pi-dimension-main,
#pi-dimension-upgrades {
    display: none;
}

.Inventors {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: 200px;
    margin-right: 200px;
}

#Inventor1 {
    width: 350px;
    padding: 5px;
    position: relative;
    background-color: rgb(88, 88, 36);
    border: 2px solid yellow;
    margin: 0;
}

#Inventor2 {
    width: 350px;
    padding: 5px;
    position: relative;
    background-color: rgb(134, 112, 13);
    border: 2px solid orange;
    margin: 0;
}

#Inventor3 {
    width: 350px;
    padding: 5px;
    position: relative;
    background-color: rgb(32, 32, 32);
    border: 2px solid rgb(49, 49, 49);
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
}

#Inventor4 {
    width: 350px;
    height: 150px;
    padding: 5px;
    position: relative;
    background-color: rgb(138, 0, 0);
    border: 2px solid rgb(255, 51, 51);
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
}

#Inventor5 {
    width: 350px;
    padding: 5px;
    position: relative;
    background-color: rgb(160, 160, 160);
    border: 2px solid rgb(121, 121, 121);
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.Inventor-cost {
    width: 250px;
    background-color: yellowgreen;
    border: 2px solid rgb(10, 61, 10);
}

.Papirus-maker-cost {
    width: 250px;
    background-color: rgb(95, 147, 216);
    border: 2px solid rgb(29, 43, 92);
}

.Water-worker-cost {
    width: 250px;
    background-color: rgb(2, 2, 49);
    border: 2px solid rgb(21, 21, 87);
    color: white;
}

.Line-maker-cost {
    width: 250px;
    background-color: rgb(8, 8, 8);
    border: 2px solid rgb(37, 37, 37);
    color: white;
}

.Miners-cost {
    width: 250px;
    background-color: rgb(124, 33, 33);
    border: 2px solid brown;
}

.Shape-maker {
    width: 250px;
    background-color: rgb(121, 255, 121);
    border: 2px solid rgb(50, 255, 50);
}

.Mathematical-instruments-maker {
    width: 250px;
    background-color: rgb(8, 8, 8);
    border: 2px solid rgb(37, 37, 37);
    color: white;
}

.Metal-maker {
    width: 250px;
    background-color: silver;
    border: 2px solid white;
}

#tmp-t {
    font-size: 25px;
    color: rgb(57, 192, 192);
    font-weight: bolder;
    margin-bottom: 15px;
    text-shadow: 0 0 5px rgb(66, 253, 253), 0 0 10px rgb(38, 255, 255), 0 0 15px rgb(19, 255, 255), 0 0 15px rgb(8, 255, 255),
     0 0 20px rgb(1, 226, 226);
}

#tmp-row1 {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#tmp-row2 {
    display: none;
    justify-content: center;
    gap: 5px;
}

#tmp-row2.show {
    display: flex;
}

.Tmp-cost {
    width: 300px;
    height: 130px;
    font-size: 13px;
    background-color: rgba(226, 40, 8, 0.925);
    border: 2px solid rgb(167, 20, 9);
    margin-bottom: 10px;
}

.Tmp-cost.buy {
    width: 300px;
    height: 130px;
    font-size: 13px;
    background-color: rgb(78, 78, 252);
    border: 2px solid blue;
    margin-bottom: 10px;
}

.Tmp-cost.bought {
    width: 300px;
    height: 130px;
    font-size: 13px;
    background-color: rgb(16, 165, 211);
    border: 2px solid rgb(0, 255, 191);
    margin-bottom: 10px;
}

#circle-sub-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#circle-sub-tab {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 134, 61);
    border: 2px solid rgb(127, 163, 55);
}

#circle-sub-tab:hover,
#plate-sub-tab {
    cursor: pointer;
}

#plato-sub-tab {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 134, 61);
    border: 2px solid rgb(127, 163, 55);
    display: none;
}

#plato-sub-tab.show {
    display: block;
}

#inventorequationtab {
    width: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(20, 196, 137);
    border: 2px solid rgb(26, 150, 150);
}

#inventorequationtab.show {
    display: flex;
}

.values-of-the-circle {
    width: 350px;
    height: 100px;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#IE-boost,
#IE-equation {
    margin-left: 200px;
    margin-right: 200px;
}

#IE-upgrades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.IE-cost {
    width: 300px;
    height: 130px;
    font-size: 13px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgb(209, 77, 24);
    position: relative;
    border-radius: 5px;
}

.IE-cost:hover {
    cursor: pointer;
    background-color: rgb(172, 69, 0);
}

#inner-IE-styles {
    width: 230px;
    height: 90px;
    z-index: -1;
    background-color: rgb(197, 72, 23);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -45px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgb(194, 66, 15);
}

#IE-name,
#IE-desc,
#IE-cost1,
#IE-cost2,
#IE-cost3 {
    z-index: 0;
}

#alpha-amount,
#radius-amount {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
}

#angle-amount,
#tradius-amount {
    margin-top: 14px;
}

#guide-tabs {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

#guide-sub-tab {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: rgb(59, 59, 59);
}

#guide-sub-tab:hover {
    cursor: pointer;
    background-color: rgb(43, 43, 43);
}

#constant-infinity {
    display: none;
}

#constant-infinity.show {
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    padding-top: 250px;
    font-size: 40px;
}

#csub-tab {
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 139, 139);
}

#csub-tab:hover {
    background-color: rgb(0, 176, 199);
    cursor: pointer;
}

#Constant-Milestone-t,
#Constant-Upgrades-t {
    font-size: 29px;
    text-align: center;
    margin-top: 15px;
    text-shadow: 0 0 3px rgb(0, 153, 255), 0 0 5px rgb(0, 204, 255), 0 0 10px rgb(0, 176, 199);
}

#Constant-Level {
    text-align: center;
    font-size: 20px;
}

#CL {
    text-shadow: 0 0 3px rgb(0, 153, 255), 0 0 5px rgb(0, 204, 255), 0 0 10px rgb(0, 176, 199);
}

.Constant-Milestones {
    width: 350px;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    margin-top: 50px;
}

.Constant-Milestone {
    width: 350px;
    height: 80px;
    font-size: 14px;
    padding: 2px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgb(9, 114, 175);
    box-shadow: 0 0 5px rgb(0, 153, 255), 0 0 10px rgb(0, 176, 199);
    margin-bottom: 15px;
}

#Constant-Milestone2 {
    display: none;
}

#Constant-Milestone2.show {
    display: block;
}

.Constant-Milestone:hover {
    background-color: rgb(7, 98, 184);
    cursor: pointer;
}

.Constant-Milestone.gotten,
#Constant-Milestone2.gotten {
    width: 350px;
    height: 80px;
    font-size: 14px;
    padding: 2px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgb(9, 196, 102);
    box-shadow: 0 0 5px rgb(2, 226, 196), 0 0 10px rgb(2, 224, 139);
}

.Constant-Milestone.gotten:hover,
#Constant-Milestone2.gotten:hover {
    background-color: rgb(9, 196, 118);
    cursor: pointer;
}

#cupsub-tab,
#cchsub-tab,
#cssub-tab,
#lesub-tab {
    display: none;
}

#cupsub-tab,
#cchsub-tab.show,
#cssub-tab.show,
#lesub-tab.show {
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 139, 139);
}

#cupsub-tab:hover,
#cchsub-tab:hover,
#cssub-tab:hover,
#lesub-tab:hover {
    background-color: rgb(0, 176, 199);
    cursor: pointer;
}

.Constant-Upgrades {
    display: none;
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Constant-Upgrades.show {
    display: flex;
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Constant-Upgrade {
    width: 250px;
    height: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    background-color: rgb(0, 153, 255);
    border: 2px solid rgb(0, 89, 255);
    text-align: center;
    position: relative;
}

#CUp-name {
    position: absolute;
    top: 2;
    left: 50%;
    width: 230px;
    margin-left: -115px;
    color: black;
    border-bottom: 1q solid white;
    font-weight: bold;
}

#CUp-desc {
    font-size: 13q;
}

.Constant-Upgrade:hover {
    background-color: rgb(2, 116, 192);
    cursor: pointer;
}

.Constant-Upgrade.bought {
    width: 250px;
    height: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    background-color: rgb(0, 189, 148);
    border: 2px solid rgb(0, 255, 128);
    text-align: center;
    position: relative;
}

.Constant-Upgrade.bought:hover {
    background-color: rgb(0, 158, 124);
    cursor: pointer;
}

.Constant-Upgrade.available {
    width: 250px;
    height: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    background-color: rgb(5, 68, 163);
    border: 2px solid rgb(0, 60, 255);
    text-align: center;
    position: relative;
}

.Constant-Upgrade.available:hover {
    background-color: rgb(7, 88, 209);
    cursor: pointer;
}

#Constant-Points {
    text-align: center;
    font-size: 20px;
}

#const-p {
    text-shadow: 0 0 3px rgb(0, 176, 199), 0 0 8px rgb(0, 140, 255);
}

#CUpboosts,
#CUlboosts,
#CUpreboosts,
#CUqol {
    text-align: center;
    font-size: 17px;
    text-shadow: 0 0 3px rgb(0, 176, 199), 0 0 5px rgb(0, 204, 255);
}

#ICUconstp-boost,
#ICUcc,
#ICUunl {
    text-align: center;
    font-size: 17px;
    text-shadow: 0 0 3px orange, 0 0 5px orangered;
}

#Break-Constant-Infinity {
    position: absolute;
    bottom: -100;
    width: 1000px;
    height: 70px;
    font-size: 15px;
    background-color: rgb(0, 126, 199);
    border: 2px solid navy;
}

#Constant-p-passive {
    display: none;
}

#Constant-p-passive.show {
    display: block;
    position: absolute;
    bottom: -100;
    width: 1000px;
    height: 70px;
    font-size: 15px;
    background-color: rgb(0, 126, 199);
    border: 2px solid navy;
}

#Break-Constant-Infinity:hover,
#Constant-p-passive:hover {
    background-color: rgb(0, 140, 255);
    cursor: pointer;
}

.Infinity-Constant-Upgrades {
    display: none;
}

.Infinity-Constant-Upgrades.show {
    display: flex;
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Infinity-Constant-Upgrade {
    width: 250px;
    height: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    background-color: rgb(90, 66, 46);
    border: 2px solid rgb(51, 34, 18);
    text-align: center;
    position: relative;
}

.Infinity-Constant-Upgrade:hover {
    cursor: pointer;
    background-color: rgb(165, 68, 12);
}

.Infinity-Constant-Upgrade.bought {
    width: 250px;
    height: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    background-color: rgb(112, 172, 15);
    border: 2px solid rgb(63, 129, 8);
    text-align: center;
    position: relative;
}

.Infinity-Constant-Upgrade.bought:hover {
    background-color: rgb(112, 172, 15);
    cursor: pointer;
}

.Infinity-Constant-Upgrade.available {
    width: 250px;
    height: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    background-color: rgb(54, 40, 28);
    border: 2px solid rgb(102, 68, 37);
    text-align: center;
    position: relative;
}

#ICUp-name {
    position: absolute;
    top: 2;
    left: 50%;
    width: 230px;
    margin-left: -115px;
    border-bottom: 1q solid white;
    color: black;
    font-weight: bold;
}

#ICUp-desc {
    font-size: 13q;
}

#ICUp-cost {
    position: absolute;
    bottom: 0;
    left: 2;
}

#CU-switch {
    position: absolute;
    top: 520;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: -100px;
}

#CU-switch-p {
    width: 40px;
    color: black;
    background-color: rgb(57, 192, 255);
    border: 2px solid rgb(3, 95, 156);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Constant-Challenge {
    width: 400px;
    height: 200px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgb(5, 40, 73);
    border: 2px solid rgb(3, 3, 71);
    position: relative;
    top: 20;
    left: 50%;
    margin-left: -200px;
    padding: 3px;
}

#Const-chal-name {
    position: absolute;
    width: 280px;
    margin-left: -140px;
    top: 5;
    left: 50%;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-bottom: 1q solid white;
}

#Const-chal-enter {
    position: absolute;
    bottom: 5;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    background-image: linear-gradient(90deg, blue, green);
    border: 2px solid black;
}

#Softcap {
    display: none;
}

#Softcap.show {
    display: block;
    position: fixed;
    bottom: 2;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    text-align: center;
    font-size: 14px;
    text-shadow: 0 0 2px white, 0 0 3px rgb(230, 230, 230), 0 0 7px rgb(255, 157, 157);
}

#Walk {
    width: 250px;
    height: 80px;
    position: absolute;
    top: 200;
    left: 150;
}

#Walk-name {
    width: 50px;
    background-color: rgb(31, 31, 31);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Walk-content {
    background-color: rgb(31, 31, 31);
    border: 1px solid yellow;
    padding: 3px;
    width: 250px;
    text-align: center;
}

#Walk-btn {
    width: 250px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid yellow;
    background-color: rgb(27, 27, 27);
    color: white;
}

#Walk-btn:hover {
    background-color: rgb(35, 35, 35);
}

#Stamina {
    width: 300px;
    height: 80px;
    position: absolute;
    top: 200;
    left: 50%;
    margin-left: -150px;
}

#Stamina-name {
    width: 70px;
    background-color: rgb(31, 31, 31);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Stamina-content {
    background-color: rgb(31, 31, 31);
    border: 1px solid yellow;
    padding: 3px;
    width: 300px;
    text-align: center;
}

#Funny-increaser {
    width: 250px;
    height: 80px;
    position: absolute;
    top: 200;
    right: 150;   
}

#Funny-name-increaser {
    width: 130px;
    background-color: rgb(31, 31, 31);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Funny-content {
    background-color: rgb(31, 31, 31);
    border: 1px solid yellow;
    padding: 3px;
    width: 250px;
    text-align: center;
}

#icetab {
    width: 150px;
    height: 50px;
    background-color: aquamarine;
    border: 1px solid rgb(94, 244, 255);
    display: none;
}

#icetab.show {
    display: block;
}

#Ice-amt,
#Ice-frags-amt {
    text-align: center;
    font-size: 20px;
}

#Ice {
    font-size: 25px;
    text-shadow: 0 0 5px rgb(0, 255, 191), 0 0 3px rgb(0, 214, 161);
}

#Ice-convertor {
    width: 500px;
    height: 200px;
    background-color: rgb(100, 199, 182);
    border: 2px solid aqua;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
}

#icc-tank {
    position: absolute;
    top: 3;
    left: 5;
    width: 50px;
    height: 190px;
    background-color: rgb(0, 65, 90);
}

#icct-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 190px;
    background-color: rgb(0, 95, 133);
}

#icct-t {
    position: absolute;
    width: 50px;
    bottom: 0;
    left: 50%;
    color: white;
    margin-left: -25px;
    text-align: center;
}

#icc-n {
    width: 250px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    font-size: 20px;
    color: black;
}

#icct-btn-fill {
    width: 190px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 17%;
    top: 50;
    width: -32px;
    background-color: rgb(0, 95, 133);
    border: 2px solid black;
    color: white;
}

#icc-boost {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 300px;
    margin-left: -125px;
    color: black;
}

#icc-ups {
    width: 180px;
    height: 100px;
    position: absolute;
    right: 5;
    top: 5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.icc-up{
    width: 200px;
    height: 60px;
    font-size: 13px;
    background-color: rgb(0, 65, 90);
    text-align: center;
}

#icc-up1.bought,
#icc-up2.bought {
    background-color: rgb(0, 129, 129);
}

#Math-mana {
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
}

#mm-t {
    text-shadow: 0 0 5px aqua, 0 0 5px rgb(94, 255, 201), 0 0 3px rgb(140, 255, 217);
}

.cs-section {
    width: 615px;
    position: absolute;
    left: 50%;
    margin-left: -307px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

#constant-skills {
    text-align: center;
    font-size: 25px;
    text-shadow: 0 0 5px aqua, 0 0 5px lightblue, 0 0 4px lightskyblue, 0 0 3px lightsteelblue;
}

#skill {
    position: relative;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(6, 61, 61);
    text-align: center;
    padding: 3px;
    border-radius: 10px 10px 0 0;
}

#special-skill {
    position: relative;
    width: 615px;
    height: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(6, 61, 61);
    text-align: center;
    padding: 3px;
    border-radius: 10px 10px 0 0;
}

#skill-name {
    position: absolute;
    width: 200px;
    top: 0;
    left: 50%;
    margin-left: -100px;
    font-size: 17px;
    font-weight: bold;
}

#skill-mana-usage {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
}

#skill-timer {
    position: absolute;
    width: 615px;
    bottom: 0;
    left: 50%;
    margin-left: -307px;
}

#activate-skill1,
#activate-skill2,
#activate-skill3 {
    position: absolute;
    width: 200px;
    bottom: -30;
    left: 0;
    border-radius: 0 0 10px 10px;
    background-color: aquamarine;
    border: 2px solid rgb(97, 255, 202);
}

#activate-skill4 {
    position: absolute;
    width: 615px;
    bottom: -30;
    left: 0;
    border-radius: 0 0 10px 10px;
    background-color: aquamarine;
    border: 2px solid rgb(97, 255, 202);
}

#activate-skill1:hover,
#activate-skill2:hover,
#activate-skill3:hover,
#activate-skill4:hover {
    background-color: rgb(91, 196, 161);
}

#Math-points {
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}

#le-equation {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 50;
    left: 50%;
    margin-left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#lee {
    font-size: 50px;
}

#increase-le-n {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    border: 2px solid rgb(17, 17, 17);
    color: white;
}

#increase-le-n:hover {
    background-color: rgb(32, 32, 32);
}

#le-stats {
    position: absolute;
    width: 300px;
    top: 20;
    right: 200;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#les-t {
    font-size: 20px;
    font-weight: bold;
}

#leq-ups {
    position: absolute;
    left: 200;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.leq-cost {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 58, 109);
    text-align: center;
    position: relative;
    padding: 3px;
}

.leq-cost:hover {
    background-color: rgb(2, 46, 168);
    cursor: pointer;
}

.leq-cost.bought {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(3, 116, 168);
    text-align: center;
    position: relative;
    padding: 3px;
}

.leq-cost.bought:hover {
    background-color: rgb(3, 96, 139);
    cursor: pointer;
}

#leq-name {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    font-weight: bold;
}

#leq-cost {
    position: absolute;
    bottom: 0;
    left: 5;
}

#Coordinate-power {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}

#Coordinate-unl {
    font-size: 19px;
    text-align: center;
}

#x-in-slope {
    position: absolute;
    top: 150;
    left: 200;
    width: 250px;
    text-align: center;
}

#slope {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    margin-top: 50px;
}

#y-in-slope {
    position: absolute;
    top: 150;
    right: 200;
    width: 250px;
    text-align: center;
}

#increase-x2,
#increase-y2 {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
    border: 2px solid white;
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 10px;
}

#increase-x2:hover,
#increase-y2:hover {
    background-color: rgb(43, 43, 43);
    border: 2px solid rgb(211, 211, 211);
}

#Main-softcaps {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: left;
    gap: 10px;
}

#MSs-t {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
}

#E1S,
#E2S {
    margin-top: 28px;
    width: 460px;
    height: 170px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 104, 104);
    border: 2px solid rgb(48, 48, 48); 
}

#LES,
#PBS {
    position: relative;
    margin-top: 28px;
    width: 440px;
    height: 305px;
    font-size: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(0, 61, 0);
    border: 2px solid rgb(8, 114, 5); 
}

#LESs-t {
    position: absolute;
    top: -5;
    left: 0;
    color: rgb(0, 201, 0);
    font-size: 20px;
    font-weight: bold;
}

#Building-automation4 {
    display: none;
}

#Building-automation4.show {
    display: block;
}

#Linear-Softcaps {
    display: none;
}

#Linear-Softcaps.show {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 200;
    display: flex;
    justify-content: left;
    gap: 10px;
}

#Save-bank {
    display: none;
}

#Save-bank.show {
    display: block;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -150px;
    background-color: rgba(59, 59, 59, 0.671);
    display: flex;
    justify-content: center;
}

#EQ1-save-bank,
#EQ2-save-bank {
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(90, 90, 90);
    border: 2px solid rgb(20, 20, 20);
}

#Layer1-save-bank {
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(67, 255, 67);
    border: 2px solid rgb(24, 187, 24);
}

#Layer2-save-bank {
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(48, 224, 255);
    border: 2px solid rgb(79, 255, 196);
}

#Close-Save-bank {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(255, 49, 49);
    border: 2px solid rgb(190, 13, 13);
    z-index: 3;
}

#Chapter2,
#Chapter3,
#Chapter4,
#Chapter5,
#Chapter6,
#Chapter7 {
    display: none;
}

#Chapter1,
#Chapter2.unlocked,
#Chapter3.unlocked,
#Chapter4.unlocked,
#Chapter5.unlocked,
#Chapter6.unlocked,
#Chapter7.unlocked {
    display: block;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    font-size: 14px;
}

#Chapter1:hover,
#Chapter2:hover,
#Chapter3:hover,
#Chapter4:hover,
#Chapter5:hover,
#Chapter6:hover,
#Chapter7:hover {
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

#Chapter-lore {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}

#sb-t {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    padding-left: 10px;
    padding-right: 10px;
}

#sb-info {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 23px;
    margin: 5px;
    font-weight: bold;
}

#sb-info-text {
    display: none;
}

#sb-info-text.show {
    display: block;
    position: absolute;
    left: 20;
    bottom: 0;
}